@import 'mixins';
@import 'variable';

.wrap-changeIMG{
	margin: 20px auto;
	padding: 20px;
	@include flexbox;
	.main-img{
		margin-right: 7px;
	}
	.list-img{
		@include flexbox;
		@include flex-direction(column);
		@include justify-content(space-between);
		.item-img{
			a{
				line-height: 0;
				img{
					opacity: 0.5;
    				filter: alpha(opacity=50); /* For IE8 and earlier */
    				width: 188px;
    				height: 125px;
				}
			}
			&.active, &:hover{
				a{
					img{
						opacity: 1;
					}
				}
			}
		}
	}
}
